/*
vert foncé #00281E
*/
@font-face {
	 font-family: 'MinionPro-Medium';
	 src: url('../fonts/MinionPro-Medium.otf');
}

#main h2{
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 300;
	text-align: center;
}
#main{
	text-align: center;
}
.card-text{
	font-family: 'Nunito Sans', sans-serif;
	text-align: center;
}
.card, .card-img-top{
	border-radius:0px;
	border: 0px;
}
.card-title{
	text-align: center;
	letter-spacing: 2px;
	font-family: 'MinionPro-Medium';
	text-transform:capitalize;
    font-variant:small-caps;
	}
.btn{
	text-align: center;
	letter-spacing: 2px;
	font-family: 'MinionPro-Medium';
	text-transform:capitalize;
    font-variant:small-caps;
    border-radius: 0;
}

.ornement{
	width: 50px;
}
.surtitre{
	font-family: 'MinionPro-Medium';
	text-transform:capitalize;
    font-variant:small-caps;
}
/*---------------------------------------------------- */
/*----------------------------------------------------*/
.bg-light {
    background-color: #FFF !important;
}
.header_area {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  -webkit-transition: background 0.4s, all 0.3s linear;
  -o-transition: background 0.4s, all 0.3s linear;
  transition: background 0.4s, all 0.3s linear;
}

.header_area .navbar {
  background: transparent;
  padding: 0px;
  border: 0px;
  border-radius: 0px;
}

.header_area .navbar .nav .nav-item {
  margin-right: 45px;
}

.header_area .navbar .nav .nav-item .nav-link {
  font: 500 12px/80px "Roboto", sans-serif;
  text-transform: uppercase;
  color: #222222;
  padding: 0px;
  display: inline-block;
}

.header_area .navbar .nav .nav-item .nav-link:after {
  display: none;
}

.header_area .navbar .nav .nav-item:hover .nav-link, .header_area .navbar .nav .nav-item.active .nav-link {
  color: #00281E;
}

.header_area .navbar .nav .nav-item.submenu {
  position: relative;
}
.header_area.small {
  line-height: 50px;
  box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.8);
}

.header_area .navbar .nav .nav-item.submenu ul {
  border: none;
  padding: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: 0px;
  background: #fff;
}
.header_area.small > .container > #logo {
  height: 40px;
    position: initial;
    float: none;
    display: block;
    transform: none;
    margin: 10px auto 0 auto;
}
@media (min-width: 992px) {
  .header_area .navbar .nav .nav-item.submenu ul {
    position: absolute;
    top: 120%;
    left: 0px;
    min-width: 200px;
    text-align: left;
    opacity: 0;
    -webkit-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
    visibility: hidden;
    display: block;
    border: none;
    padding: 0px;
    border-radius: 0px;
  }
}

.header_area .navbar .nav .nav-item.submenu ul:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #eeeeee transparent transparent transparent;
  position: absolute;
  right: 24px;
  top: 70px;
  z-index: 3;
  opacity: 0;
  -webkit-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  transition: all 400ms linear;
}

.header_area .navbar .nav .nav-item.submenu ul .nav-item {
  display: block;
  float: none;
  margin-right: 0px;
  border-bottom: 1px solid #ededed;
  margin-left: 0px;
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.header_area .navbar .nav .nav-item.submenu ul .nav-item .nav-link {
  line-height: 45px;
  color: #222222;
  padding: 0px 30px;
  -webkit-transition: all 150ms linear;
  -o-transition: all 150ms linear;
  transition: all 150ms linear;
  display: block;
  margin-right: 0px;
}

.header_area .navbar .nav .nav-item.submenu ul .nav-item:last-child {
  border-bottom: none;
}

.header_area .navbar .nav .nav-item.submenu ul .nav-item:hover .nav-link {
  background: #00281E;
  color: #fff;
}

@media (min-width: 992px) {
  .header_area .navbar .nav .nav-item.submenu:hover ul {
    visibility: visible;
    opacity: 1;
    top: 100%;
  }
}

.header_area .navbar .nav .nav-item.submenu:hover ul .nav-item {
  margin-top: 0px;
}

.header_area .navbar .nav .nav-item:last-child {
  margin-right: 0px;
}

.header_area .navbar .search {
  font-size: 12px;
  line-height: 60px;
  display: inline-block;
  color: #222222;
  margin-left: 80px;
}

.header_area .navbar .search i {
  font-weight: 600;
}

.header_area.navbar_fixed .main_menu {
  position: fixed;
  width: 100%;
  top: -70px;
  left: 0;
  right: 0;
  background: #fff;
  -webkit-transform: translateY(70px);
  -ms-transform: translateY(70px);
  transform: translateY(70px);
  -webkit-transition: background 500ms ease, -webkit-transform 500ms ease;
  transition: background 500ms ease, -webkit-transform 500ms ease;
  -o-transition: transform 500ms ease, background 500ms ease;
  transition: transform 500ms ease, background 500ms ease;
  transition: transform 500ms ease, background 500ms ease, -webkit-transform 500ms ease;
  -webkit-transition: transform 500ms ease, background 500ms ease;
  -webkit-box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
}

.header_area.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link {
  line-height: 70px;
}

.top_menu {
  background: #FFF;
}

.top_menu .float-left a {
  line-height: 40px;
  display: inline-block;
  color: #000;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  margin-right: 50px;
  -webkit-transition: all 300ms linear 0s;
  -o-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
}

.top_menu .float-left a:last-child {
  margin-right: 0px;
}

.top_menu .float-left a:hover {
  color: #00281E;
}

.top_menu .float-right .pur_btn {
  background: #FFF;
  color: #000;
  font-family: "Roboto", sans-serif;
  line-height: 40px;
  display: block;
  padding: 0px 40px;
  font-weight: 500;
  font-size: 12px;
}
.home_banner_area{
  margin-top: 240px;
}
/*---------------------------------------------------- */
/*----------------------------------------------------*/

 #logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: red;
  float: left;
  height: 40px;
  width: 170px;
  margin-left: 5px;
}
ul.nav {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
}
  #navbar-primary.navbar-default {
  background: transparent;
  border: none;
  .navbar-nav { 
    width: 100%;
    text-align: center;
    > li {
      display: inline-block;
      float: none;
      > a {
        padding-left: 30px;
        padding-right: 30px;
        }
    }
  }
}

/*////////////////SLIDER/////////////*/

.carousel-control-next-icon, .carousel-control-prev-icon {
    background-image:url("../img/banner/arrows-white-right.svg")!important;
    display: inline-block;
    width: 63px;
    height: 40px;
    background: transparent no-repeat center center;
    background-image: none;
    background-size: auto auto;
}
.carousel-control-prev-icon {
  -webkit-transform: rotate(180deg);     /* Chrome and other webkit browsers */
  -moz-transform: rotate(180deg);        /* FF */
  -o-transform: rotate(180deg);          /* Opera */
  -ms-transform: rotate(180deg);         /* IE9 */
  transform: rotate(180deg);             /* W3C compliant browsers */
}
.carousel-control-next, .carousel-control-prev {
  width:63px; }

.carousel-caption {
  transform: translateY(-50%);
  bottom: 0;
  top: 50%;
}
@media screen and (max-height:768px){
  .carousel-item {
  height: 500px;
}

}
@media (max-width: 575.98px) {

  .carousel-inner {
    margin-top: 72px;
}
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .carousel-inner {
    margin-top: 270px;
}
}

/*/ Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
  .carousel-inner {
    margin-top: 270px;
} }

/*/ Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
  .carousel-inner {
    margin-top: 270px;
} }

/*/ Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
  .carousel-inner {
    margin-top: 270px;
} }
/*////////////////SLIDER/////////////*/
