/* Main Button Area css
============================================================================================ */
.btn-outline-dark:hover {

    color: #fff;
    background-color: #C89632;
    border-color: #C89632;

}
.btn-outline-dark {

    color: #343a40;
    background-color: transparent;
    background-image: none;
    border-color: #343a40;

}
.main_btn{
	display: inline-block;
	background: $baseColor;
	padding: 0px 50px;
	color: #fff;
	font-family: $rob;
	font-size: 13px;
	font-weight: 500;
	line-height: 48px;
	border-radius: 0px;
	outline: none !important;
	box-shadow: none !important;
	text-align: center;
	border: 1px solid $baseColor;
	cursor: pointer;
	@include transition;
	&:hover{
		background: transparent;
		color: $baseColor;
	}
}
.main_btn2{
	display: inline-block;
	background: $baseColor;
	padding: 0px 32px;
	color: #fff;
	font-family: $rob;
	font-size: 13px;
	font-weight: 500;
	line-height: 38px;
	border-radius: 0px;
	outline: none !important;
	box-shadow: none !important;
	text-align: center;
	border: 1px solid $baseColor;
	cursor: pointer;
	@include transition;
	&:hover{
		background: transparent;
		color: $baseColor;
	}
}
.submit_btn{
	width: auto;
	display: inline-block;
	background: $baseColor;
	padding: 0px 50px;
	color: #fff;
	font-family: $rob;
	font-size: 13px;
	font-weight: 500;
	line-height: 50px;
	border-radius: 0px;
	outline: none !important;
	box-shadow: none !important;
	text-align: center;
	border: 1px solid $baseColor;
	cursor: pointer;
	@include transition;
	&:hover{
		background: transparent;
		color: $baseColor;
	}
}

.white_btn{
	display: inline-block;
	background: #f9f9ff;
	padding: 0px 50px;
	color: $dip;
	font-family: $rob;
	font-size: 12px;
	font-weight: 500;
	line-height: 50px;
	border-radius: 0px;
	outline: none !important;
	box-shadow: none !important;
	text-align: center;
	cursor: pointer;
	@include transition;
	&:hover{
		background: $baseColor;
		color: #fff;
	}
}
.banner_btn{
	padding: 0px 50px;
	line-height: 50px;
	background: #ec9d5f;
	color: #fff;
	display: inline-block;
	border-radius: 5px;
	font-size: 12px;
	font-family: $rob;
	font-weight: 500;
	@include transition;
	&:hover{
		color: $baseColor;
	}
}
.white_bg_btn{
	background: #fff;
	display: inline-block;
	color: $dip;
	line-height: 40px;
	padding: 0px 28px;
	font-size: 14px;
	font-family: $rob;
	font-weight: 500;
	text-transform: uppercase;
	@include transition;
	border: none;
	&:hover{
		background: $baseColor;
		color: #fff;
	}
}
.blog_btn{
	border: 1px solid #eeeeee;
	background: #f9f9ff;
	padding: 0px 32px;
	font-size: 13px;
	font-weight: 500;
	font-family: $rob;
	color: $dip;
	line-height: 34px;
	display: inline-block;
	&:hover{
		background: $baseColor;
		border-color: $baseColor;
		color: #fff;
	}
}
/* End Main Button Area css
============================================================================================ */