        <header class="header_area2">
            <div class="top_menu row m0">
                <div class="container box_1620">
                    <div class="float-left">
                        <a href="tel:+8801234654953">+880 1234 654 953</a>
                        <a href="mailto:support@colorlib.com">support@colorlib.com</a>
                    </div>
                    <div class="float-right">
                        <a class="pur_btn" href="#">Purchase Hosting</a>
                    </div>
                </div>  
            </div>  
            <div class="main_menu">
                <nav class="navbar navbar-expand-md navbar-dark bg-light main-nav">
                    <div class="container">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <ul class="nav navbar-nav justify-content-center logomobile">
                            <li class="nav-item"><a class="navbar-brand logo_h" href="index.html"><img src="img/logo.png" alt=""></a></li>
                            </ul>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                                                        <ul class="nav navbar-nav justify-content-center">
                            <li class="nav-item"><a class="navbar-brand logo_h" href="index.html"><img width="80px" id="logo-main" src="img/logo_maison_fey_reduced.svg" alt=""></a></li>
                            </ul>
                            <ul class="nav navbar-nav w-100 justify-content-center">
                                <li class="nav-item active"><a class="nav-link" href="index.html">Présentation</a></li> 
                                <li class="nav-item"><a class="nav-link" href="about-us.html">Savoir-Faire</a></li> 
                                <li class="nav-item"><a class="nav-link" href="service.html">Catalogue</a>
                                <li class="nav-item submenu dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages</a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a class="nav-link" href="feature.html">Features</a>
                                        <li class="nav-item"><a class="nav-link" href="price.html">Pricing</a> 
                                        <li class="nav-item"><a class="nav-link" href="elements.html">Elements</a></li>
                                    </ul>
                                </li> 
                                <li class="nav-item submenu dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Actualités & Médias</a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a class="nav-link" href="blog.html">Blog</a></li>
                                        <li class="nav-item"><a class="nav-link" href="single-blog.html">Blog Details</a></li>
                                    </ul>
                                </li> 

                                <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
                            </ul>
                            
                        </div> 
                    </div>
                </nav>
            </div>
            
        </header>